<!DOCTYPE html>
<html>
<head>
  <title>Django Public Blog - регистрация</title>
  <link rel="stylesheet" href="{{ STATIC_URL }}/static/css/create_post.css">
</head>
<body>
  <div class="content">
    <h1>Авторизация</h1>
    <a href="/article/">Все статьи:</a>
    <form method="POST">{% csrf_token %}
    <input class="FirstLine" type="text" name="login" placeholder="Логин" value="{{ form.login }}"><br>
    <textarea class="SecondLinePassword" name="password" placeholder="Пароль">{{ form.password }}</textarea><br>
    <input type="submit" value="Авторизоваться"><br>
    </form>
    {{ form.errors }}
  </div>
</body>
</html>